/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'flowbite/src/themes/default';

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";



html,
body {
  height: 100%;
}
body {
  background-color: #f3f4f6;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-family: 'Cairo', sans-serif;
}

/* MainColor: #1d4ed8 */
.mainColor {
  color: #1d4ed8;
}
.scandColor {
  color: #f3f4f6;
}
.bg-scand {
  background-color: #f3f4f6;
}
/* @theme: {
  extend: {
    backgroundImage: {
      'signup-hero': "url('/images/signup-bg.png')",
    }
  }
} */
